{% extends "layouts/main.html" %}

{% block pageTitle %}
  Significant managerial responsibility or influence (SMRI) declaration– GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      SMRI declaration submitted
    </h3>
    <p class="govuk-body">We’ll contact you via email if we need any further information.</p>
  </div>
</div>

  <span class="govuk-caption-l">Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Significant managerial responsibility or influence (SMRI) declaration</h1>
  
  <p class="govuk-tag govuk-tag--green">
    Submitted
  </p>

  <p class="govuk-body">
    When you send heat network data to us, we’ll review your latest declaration. This is to check whether you’ve declared that everybody with SMRI at Radienteco Ltd meets the fit and proper criteria.
  </p>

  <p class="govuk-body">
    If the latest declaration is more than 3 months old, your declaration status will show as ‘expired’ and you’ll need to submit a new one.
  </p>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What is a ‘person with SMRI’?
      </span>
    </summary>
    <div class="govuk-details__text">
      A person with <strong>Significant Managerial Responsibility or Influence (SMRI)</strong> is someone who:
    </div>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>makes key decisions about how a heat network is run</li>
        <li>holds a senior position, such as a director, board member, or partner</li>
        <li>influences company policy, operations, or financial management</li>
      </ul>
    </div>
  </details>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What are the fit and proper criteria?
      </span>
    </summary>
    <div class="govuk-details__text">
       The criteria assess whether an individual is suitable based on integrity, competence, and experience.
    </div>
  </details>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Process in place to ensure that everybody with SMRI is fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Regular assessments to ensure all people with SMRI remain fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      List of everybody with SMRI at Radienteco Ltd?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is everybody with SMRI at Radienteco Ltd fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Submitted by
    </dt>
    <dd class="govuk-summary-list__value">
      John Smith on 01/11/2024
    </dd>
  </div>
  </dl>


   <form method="post">
    <button class="govuk-button" data-module="govuk-button">Submit new SMRI declaration</button>
  </form>

  <p class="govuk-body">
    <a href="#" class="govuk-link">Return to Radienteco Ltd home</a>.
  </p>

{% endblock %}
