{% extends "layouts/main.html" %}

{% block pageTitle %}
 Do you have a list of all people at  Radienteco Ltd with SMRI?– GOV.UK
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">People with SMRI at Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Do you have a list of all people at  Radienteco Ltd with SMRI?</h1>

  <p class="govuk-body">
    This is because you do not have all the information required to complete the fit and proper declaration.
  </p>

  <p class="govuk-body">You must make sure you've got:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>a list of everybody with SMRI at your organisation</li>
    <li>confirmation from each one as to whether they meet all the fit and proper criteria, as defined in heat network regulations</li>
  </ul>

   <form method="post">
    <button class="govuk-button" data-module="govuk-button">Finish</button>
  </form>

{% endblock %}
