{% extends "layouts/main.html" %}

{% block pageTitle %}
 Do you have a list of all people at  Radienteco Ltd with SMRI?– GOV.UK
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">People with SMRI at Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Do you have a list of all people at  Radienteco Ltd with SMRI?</h1>

   <form method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="smri-hint">
        
       

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yes" name="smri3" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="no" name="smri3" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>

{% endblock %}
