{% extends "layouts/main.html" %}

{% block pageTitle %}
  Does Radienteco Ltd have a process in place to ensure that all people with SMRI are fit and proper – GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Comply with heat networks consumer protection regulations",
    serviceUrl: "/",
    navigation: [
      {
        href: "#",
        text: "My profile"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<!-- Phase banner -->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__tag">Beta</strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and
      <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.
    </span>
  </p>
</div>

<!-- Home link -->
<p class="govuk-body">
  <a href="#" class="govuk-link">Home</a>
</p>

   <span class="govuk-caption-l">People with SMRI at Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Does Radienteco Ltd have a process in place to ensure that all people with SMRI are fit and proper</h1>

 
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What are the fit and proper criteria?
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>No unspent criminal convictions</li>
        <li>Sound financial standing</li>
        <li>Relevant qualifications and experience</li>
      </ul>
      <p><a class="govuk-link" href="/fit-and-proper">Read the full criteria</a></p>
    </div>
  </details>

   <form method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="smri-hint">
        
       

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yes" name="smri1" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="yes">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="no" name="smri1" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="no">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>

{% endblock %}
