{% extends "layouts/main.html" %}

{% block pageTitle %}
  Significant managerial responsibility or influence (SMRI) declaration – GOV.UK
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Significant managerial responsibility or influence (SMRI) declaration</h1>

  <p class="govuk-body">
    You must declare whether everybody with SMRI at <strong>Radienteco Ltd</strong> is fit and proper, in order for anybody at the organisation to send us heat network information.
  </p>

  <h2 class="govuk-heading-m">What is a 'person with SMRI'?</h2>

  <p class="govuk-body">A person has SMRI if they play a role in either:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>making decisions about how the whole or a substantial part of the organisation is managed or organised</li>
    <li>actually managing or organising the whole or a substantial part of the organisation’s activities</li>
  </ul>

  <p class="govuk-body">
    For example, this includes chief officers, directors, and senior managers.
  </p>

  <h2 class="govuk-heading-m">What you need to do</h2>

  <ol class="govuk-list govuk-list--number">
    <li>Identify everyone in your organisation with SMRI.</li>
    <li>Ask each of them to confirm whether they meet the fit and proper criteria.</li>
    <li>Return to this service and submit your SMRI declaration.</li>
    <li>If someone does not meet the criteria, we’ll contact you for further information.</li>
  </ol>

  <p class="govuk-body">You must also confirm that your organisation:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>has a process in place to ensure all SMRI individuals are fit and proper</li>
    <li>regularly reassesses whether they remain fit and proper</li>
  </ul>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What are the fit and proper criteria?
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>No unspent criminal convictions</li>
        <li>Sound financial standing</li>
        <li>Relevant qualifications and experience</li>
      </ul>
      <p><a class="govuk-link" href="/fit-and-proper">Read the full criteria</a></p>
    </div>
  </details>

  <h2 class="govuk-heading-m">How we’ll review your SMRI declaration</h2>

  <p class="govuk-body">
    When you submit heat network data, we’ll use the most recent SMRI declaration we have.
  </p>

  <p class="govuk-body">
    If your declaration is more than 3 months old, it will be marked as ‘expired’, and you’ll need to submit a new one.
  </p>

  <form method="post">
    <button class="govuk-button" data-module="govuk-button">Start declaration</button>
  </form>

{% endblock %}
