{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers– GOV.UK
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">People with SMRI at Radienteco Ltd</span>

  <h1 class="govuk-heading-l">Check your answers</h1>
  
  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Process in place to ensure that everybody with SMRI is fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Process in place to ensure that everybody with SMRI is fit and proper?</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Regular assessments to ensure all people with SMRI remain fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Regular assessments to ensure all people with SMRI remain fit and proper?</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      List of everybody with SMRI at Radienteco Ltd?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> List of everybody with SMRI at Radienteco Ltd?</span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Is everybody with SMRI at Radienteco Ltd fit and proper?
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Is everybody with SMRI at Radienteco Ltd fit and proper?</span></a>
    </dd>
  </div>
  </dl>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      We can request the list of people with SMRI and their full responses to the fit and proper questions at any time.
    </strong>
  </div>

   <form method="post">
    <button class="govuk-button" data-module="govuk-button">Submit SMRI declaration</button>
  </form>

{% endblock %}
