{% extends "layouts/main.html" %}

{% block pageTitle %}
  Significant managerial responsibility or influence (SMRI) declaration– GOV.UK
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>

  <p class="govuk-body">
    Try again later.
  </p>

  <p class="govuk-body">
    Contact <a class="govuk-link" href="mailto:support@registerheatnetworks.service.gov.uk">support@registerheatnetworks.service.gov.uk</a> if you continue to experience issues.
  </p>

{% endblock %}
